{% extends 'base.html' %}

{% block head %}
<title>Google API Integration</title>
{%  endblock %}


{% block body %}
    <h1>Google API Integration</h1>

    <form method="POST">
        <table class="Coordinates">
            <tr>
                <th>Kordynaty</th>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="kordynaty1" id="kordynaty1" required/></td>
            </tr>
        </table>
        <div id="allOfTheCoordinates">
            <input type="hidden" value="1" name="allOfTheCoordinates" />
        </div>
        <button type="submit">Wyślij</button>
    </form>
    <button id="addCoordinates">Dodaj kolejne kordynaty</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./static/js/placeholders.js"></script>
{% endblock %}